// Flag icons
@import '~flag-icon-css/sass/flag-icon';


.js-cookie-consent{
    position: absolute;
    bottom: 0px;
    padding: 10px;
    text-align: center;
    width: 100%;
    z-index: 9999;
    background-color: burlywood;
    border: 0px;
}
